{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<!-- Page Heading -->
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <img src="{% static 'img/greenhouse.png' %}" class="center" style="width: auto; height: auto; max-width: 50%; max-height: 50%;">
      </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-bg-gray-900">เกี่ยวกับโรงเรือน</h1>
</div>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">โรงเรือนเป็นสถานที่ที่เฉพาะเจาะจงสำหรับการปลูกพืชและการเพาะเลี้ยงอื่น ๆ โดยเฉพาะ มันถูกออกแบบมาเพื่อสร้างสภาพแวดล้อมที่เหมาะสมสำหรับการเจริญเติบโตของพืชที่ต้องการเงื่อนไขพิเศษ เช่น อุณหภูมิ ความชื้น และแสงสว่าง โรงเรือนช่วยให้เกษตรกรและนักปลูกพืชสามารถควบคุมสภาพแวดล้อมเหล่านี้ได้อย่างถูกต้อง และเพิ่มผลผลิตของพืชอย่างมีประสิทธิภาพมากยิ่งขึ้น</p>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">โรงเรือนสำหรับพืชนั้นมีคุณสมบัติและความสามารถหลากหลายเพื่อให้สามารถปรับสภาพแวดล้อมภายในโรงเรือนให้เหมาะสมสำหรับการเพาะปลูกและเจริญเติบโตของพืชได้ดียิ่งขึ้น นี่คือคุณสมบัติที่สำคัญของโรงเรือนสำหรับพืช:
<ul>
    <li>การควบคุมอุณหภูมิและความชื้น: โรงเรือนสำหรับพืชสามารถควบคุมอุณหภูมิและความชื้นในอากาศภายในได้ เป็นปัจจัยสำคัญในการเพาะปลูก เช่น การปรับอุณหภูมิให้เหมาะสมสำหรับการเจริญเติบโตของพืชแต่ละชนิด และการควบคุมความชื้นเพื่อป้องกันการแห้งและรากเน่าของพืช</li>
    <li>การจัดแสง: โรงเรือนสามารถจัดการแสงที่เข้ามาในโรงเรือนได้ เพื่อให้พืชได้รับแสงที่เพียงพอสำหรับการสังเคราะห์แสง ซึ่งเป็นกระบวนการที่สำคัญในการสร้างอาหารสำหรับพืช</li>
    <li>ระบบรดน้ำอัตโนมัติ: โรงเรือนสามารถมีระบบรดน้ำอัตโนมัติที่สามารถควบคุมปริมาณน้ำที่ให้กับพืชได้ เพื่อให้พืชได้รับน้ำเพียงพอและไม่ขาดน้ำ</li>
    <li>ระบบระบายอากาศ: โรงเรือนสามารถมีระบบระบายอากาศเพื่อให้อากาศภายในโรงเรือนหมุนเวียนและรองรับการการหายเหลือของความร้อน</li>
    <li>การคป้องกันสัตว์และแมลง: โรงเรือนสามารถป้องกันการเข้ามาของสัตว์ที่อาจทำลายพืชหรือนำโรคมาในโรงเรือน และควบคุมการระบาดของแมลงที่อาจทำความเสียหายกับพืช</li>
    <li>การควบคุมสัญญาณแสง: ในบางกรณี โรงเรือนสามารถใช้การควบคุมสัญญาณแสงเพื่อสร้างเงื่อนไขที่เหมาะสมสำหรับการเจริญเติบโตของพืช</li>
</ul>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <img src="{% static 'img/webapp.png' %}" class="center" style="width: auto; height: auto; max-width: 25%; max-height: 25%;">
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-bg-gray-900">เกี่ยวกับเว็บแอพลิเคชั่น</h1>
</div>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">แอปพลิเคชันที่คุณพัฒนานี้เป็นเครื่องมือที่สำคัญในการควบคุมและติดตามสภาพแวดล้อมภายในโรงเรือนของคุณ มันช่วยให้คุณสามารถกำหนดเวลาการปรับแต่งค่าสภาพแวดล้อมตามที่คุณต้องการได้ โดยเฉพาะเวลาที่เริ่มและหยุดการปรับแต่ง นอกจากนี้ยังปรับแต่งอุณหภูมิที่ต้องการปรับแต่งได้อีกด้วย และเมื่อระยะเวลาสิ้นสุดลง ค่าดั้งเดิมที่คุณตั้งค่าไว้จะถูกนำมาแทนที่ค่าเดิมโดยอัตโนมัติ เป็นแอพลิเคชั่นที่ช่วยให้คุณสามารถบำรุงรักษาสภาพแวดล้อมในโรงเรือนให้เหมาะสมสำหรับการเจริญเติบโตของพืชได้อย่างมีประสิทธิภาพ และปรับปรุงผลผลิตอย่างมีประสิทธิภาพมากยิ่งขึ้น</p>

</div>
</div>
</div>
{%endblock%}