{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div><p class="font-weight-normal"><p style="text-indent: 2.5em;">บอนสี (ชื่อวิทยาศาสตร์: Caladium bicolor) เป็นสายพันธุ์ในสกุลบอนจากลาตินอเมริกา มักถูกปลูกเป็นต้นไม้ประดับ เนื่องจากใบขนาดใหญ่รูปหัวใจหรือรูปหอกที่มีสีเขียว ขาว ชมพู หรือแดงที่โดดเด่น บอนสีมีมากกว่าร้อยสายพันธุ์ ทุกส่วนของบอนสีมีพิษ และเป็นสายพันธุ์ที่มีการแพร่กระจายและสร้างปัญหาในตรินิแดดและโตเบโก, กวม, ไมโครนีเซีย, ปาเลา, รัฐฮาวาย และฟิลิปปินส์ โดยสามารถพบได้ในเขตร้อนส่วนใหญ่ของโลกรวมทั้งทวีปแอฟริกา อนุทวีปอินเดีย และเอเชียตะวันออกเฉียงใต้.</p>
    <div class="container text-center">
    <img src="{% static 'img/7d77516c8fe4fcbcd6e04777e3775f51.jpg' %}" class="rounded" alt="Cinque Terre" width="304" height="236">
      </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-bg-gray-900">ความเชื่อเกี่ยวกับบอนสี</h1>
</div><p class="font-weight-normal"><p style="text-indent: 2.5em;">ในสมัยโบราณบอนสีเป็นไม้มงคลที่นิยมปลูกติดไว้ในบ้านพักอาศัยและจะทำให้บ้านที่ปลูกมีความสุขความเจริญเป็นสิริมงคลแก่บ้านพักอาศัยทำให้คนในบ้านมีความสุขกัน</p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-bg-gray-900">ลักษณะโดยทั่วไป</h1>
</div>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">บอนสีมีความสูงประมาณ 0.5 เมตร มีพุ่มกว้างประมาณ 1 เมตร มีลำต้นอยู่ใต้ดิน มีลักษณะเป็นหัว ผิวของลำต้นเป็นผิวเรียบและ ใบกว้างประมาณ 8-15 เซนติเมตร ยาวประมาณ 10-20 เซนติเมตร ลักษณะใบ สีสันสวยงาม และดอกมีเกสรเป็นแท่งยาวโผล่ออกมา ดอกมีสีขาวหรือสีชมพู รังไข่ใต้วงกลีบ มีกลิ่นฉุน</p>
<h1 class="h3 mb-0 text-bg-gray-900">ถิ่นกำเนิด</h1>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">บอนสีมีถิ่นกำเนิดมาจากแถบทวีปอเมริกาใต้ และเริ่มเข้ามาในทวีปยุโรป อินเดีย และอินโดนีเซีย ตามลำดับแล้วเชื่อกันว่าบอนสีเข้ามาในประเทศไทยตอนสมัยสุโขทัยและ ในสมัยรัตนโกสินทร์ พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเสด็จประพาสยุโรป และได้ทรงนำบอนสีเข้ามาปลูกในประเทศไทยไว้หลายสายพันธุ์</p>
<h1 class="h3 mb-0 text-bg-gray-900">การปลูก</h1>
<p class="font-weight-normal"><p style="text-indent: 2.5em;">บอนสีควรจะปลูกในที่ที่มีความชื้นและไม่มีแดดร้อนจัดและดินที่ใช้ปลูกควรจะเป็นดินร่วนและมีในดินมีอินทรีย์วัตถุผสมด้วยเช่นพวกซากใบไม้ที่ผุย่อยสลลาย นิยมใช้ใบจามจุรี, ใบมะขาม และควรใช้ปุ๋ยชีวภาพนั้นก็คือ ปุ๋ยคอกและไม่ควรเยอะเกินไปเพราะดินจะเค็มทำให้ดินเสื่อมและต้องรดน้ำทุกวันตอนเช้าและตอนเย็นและอย่านำกระถางไปตั้งในที่แดดร้อนจัดเพราะใบจะไหม้และต้นก็จะตาย</p>
</div>
</div>
</div>
{%endblock%}