{% extends 'base.html' %}
{% load static %}

{% block title %}
การออกแบบตาราง
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="container text-center">
  <div class="row">
    <div class="col-lg-7">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Create a Time!</h1>
        </div>
        <form method="post">
          {% csrf_token %}
          <label for="start_at">Start Date:</label>
          <input type="datetime-local" id="start_at" name="start_at">
          <br><br>
          <label for="end_at">End Date:</label>
          <input type="datetime-local" id="end_at" name="end_at">
          <br><br>
          <label for="fan_start">Fan Start Temperature (°C):</label>
        <select name="fan_start" id="fan_start">
    <option value="40">40</option>
    <option value="39">39</option>
    <option value="38">38</option>
    <option value="37">37</option>
    <option value="36">36</option>
    <option value="35">35</option>
        </select>
        <br><br>
        <label for="fan_stop">Fan Stop Temperature (°C):</label>
        <select name="fan_stop" id="fan_stop">
    <option value="35">35</option>
    <option value="34">34</option>
    <option value="33">33</option>
    <option value="32">32</option>
        </select>
        <br><br>
          <button type="submit" class="btn btn-primary btn-user btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  flatpickr(".date-picker", {
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>
{%endblock%}